@use "bootstrap/scss/bootstrap";
@use "@angular/material" as mat;

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
    )
  );
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border: 1px solid var(--mat-sys-outline-variant);
  font: var(--mat-sys-body-large);
}
.mat-mdc-button-base {
  border-radius: 4px !important;
}
.mdc-snackbar.error-message {
  .mat-mdc-snackbar-surface {
    color: var(--mat-sys-on-error) !important;
    background-color: var(--mat-sys-error) !important;
  }
}
.mdc-snackbar.info-message {
  .mat-mdc-snackbar-surface {
    // color: var(--bs-info-text-emphasis) !important;
    color: white !important;
    background-color: var(--bs-info) !important;
  }
}
.mdc-snackbar.success-message {
  .mat-mdc-snackbar-surface {
    // color: var(--bs-success-text-emphasis) !important;
    color: white;
    background-color: var(--bs-success) !important;
  }
}
